head{
  color: rgb(207, 213, 214);;
}
body{
  background-color: rgb(17, 25, 34);
  font-size: 20px;
  color: rgb(176, 182, 183);
  padding-left: 10%;
  padding-right: 10%;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.top{
  background-color: rgb(17, 25, 34);
  height: 100px;
}
.top a{
  color: rgb(207, 213, 214);
}

.kao{
  background-color: rgb(17, 25, 34);
  position: fixed;
  color: rgb(207, 213, 214);
  font-size: 34px;
  padding-top: 25px;
  padding-right: 800px;
  top: 0px;
  height: 70px;
}

.links {
  background-color: rgb(17, 25, 34);
  position: fixed;
  right: 8vw;
  top: 0px;
  width: 350px;
  padding-top: 40px;
  padding-right: 40px;;
  word-spacing: 15px;
  height: 70px;
  font-size: 30px;
}
.links a {
  color: rgb(207, 213, 214);
  text-decoration: none;
}
.links a:hover {
  color: rgb(105, 166, 201);
}
.links a:active {
  color: rgb(70, 132, 161);
}

h2{
  color: rgb(207, 213, 214);
}
a {
  color: rgb(176, 182, 183);
  text-decoration: none;
  transition: all 0.3s;
}
a:hover {
  color: rgb(105, 166, 201);
}
a:active {
  color: rgb(70, 132, 161);
}